/* Export form
-------------------------------------------------------------------------------*/
.iocexport{
border: 1px dotted #A7D7F9;
padding:3px;
}

div.dokuwiki .iocexport img{
	vertical-align: middle;
}

div.dokuwiki .iocexport span{
	vertical-align: middle;
}

div.dokuwiki .iocexport form input{
	vertical-align: middle;
}

.missing_header{
 color:red;
}

/* Toolbar
-------------------------------------------------------------------------------*/
.ioctoolbar{
width:auto !important;
}


/* Quizes
-------------------------------------------------------------------------------*/
p.ok, p.ko{
 height:0.5em;
}

td.ok{
background: none repeat scroll 0 0 #BFFF80;
}

td.ko{
background: none repeat scroll 0 0 #FF9F81;
}

select.ok{
background: none repeat scroll 0 0 rgba(0, 255, 0, 0.5);
vertical-align:baseline;
}

select.ko{
background: none repeat scroll 0 0 rgba(255, 0, 0, 0.5);
vertical-align:baseline;
}

div.solution{
    background: none repeat scroll 0 0 #F2F6FA;
    border: 2px solid #D9E4F0;
    display: none;
    margin: 1em 0;
    padding: 0.4em 1em;
    width:40%;
}

.quiz_result {
    background: none repeat scroll 0 0 #F2F6FA;
    border: 2px solid #D9E4F0;
    display: none;
    margin: 1em 0;
    padding: 0.4em 1em;
    width:40%;
}


/* html styles
-------------------------------------------------------------------------------*/
#bodyContent{
/*	overflow:hidden;*/
}


.dokuwiki h1, .dokuwiki h2, .dokuwiki h3, .dokuwiki h4{
	clear:left;
	width:75%;
}
/*#bodyContent .level1, #bodyContent .level2,#bodyContent .level3, #bodyContent .level4{*/
.ioctextl, .iocexample, .iocimportant, .iocfigure, .ioctable{
	width:75% !important;
}

div.level1, div.level2, div.level3, div.level4{
	float:none !important;
}

.level1 p, .level2 p, .level3 p, .level4 p, .level1 ol, .level2 ol, .level3 ol, .level4 ol, .level1 ul, .level2 ul, .level3 ul, .level4 ul{
/*	float:left;*/
	width:75% !important;
}

div.dokuwiki #toc__inside{
	float:right;
}

div.dokuwiki #toc__inside ul{
	float:none;
}

.dokuwiki .secedit {
	clear:both;
	float:left !important;
}

.ioccontent ul, .ioccontent ol{
	float:none;
}

.iocfigure{
	margin:2em auto;
	width:100%;
}

.iocfigure .iocinfo{
	margin:2em auto;
	width:100%;
}

.imgb{
	position: relative;
    clear: right;
	float:right;
	width:150px !important;
}
.imgb img{
/*	float:right !important;*/
}

.imgb a{
	float:right !important;

}

.imgb .title{
    clear: right;
    float: right !important;
    padding: 0.3em 0 1em;
    text-align: right;
    width: 150px;
}
.ioctable{
	margin:5mm 0px;
	width:100%;
}

.ioctextl .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/ioctextl.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
	margin:1em auto;
}

/* COLUMN B */
.ioctext, .iocquote, .iocreference, .iocnote{
/*    clear: right;*/
/*    overflow: hidden;*/
/*    width: 150px;*/
}

.ioctextl, .iocexample, .iocimportant{
    overflow: hidden;
}

.ioctext .ioccontent{
	position: relative;
    clear: right;
	float:right;
	width:150px !important;
	margin:5mm 0px;
	background: url("img/ioctext.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
}


.iocquote{
	position: relative;
    clear: right;
	float:right;
	width:150px !important;
	margin:5mm 0px;
	background: url("img/iocquote.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
}

.iocreference{
	position: relative;
    clear: right;
	float:right;
	width:150px !important;
	margin:5mm 0px;
	background: url("img/iocreference.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
}

.iocnote{
	position: relative;
    clear: right;
	float:right;
	width:150px !important;
	margin:5mm 0px;
	background: url("img/iocnote.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
}

/* COLUMN A */
.iocexample .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/iocexemple.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
	margin:1em auto;
}

.iocimportant .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/iocimportant.png") no-repeat scroll left 1mm #fcd900;
	border-style:dashed;
	border-width:1px;
	padding:3mm 3mm 3mm 10mm;
	margin:1em auto;
}


.ioctext p, .ioctextl p, .iocquote p, .iocexample p, .iocimportant p, .iocreference p, .iocnote p{
	margin-bottom:0px !important;
	width:100% !important;
	float:none;
}

.ioctext pre, .ioctextl pre, .iocquote pre, .iocexemple pre{
	margin-bottom:0px !important;
}

.ioctitle{
	font-weight:bold;
}
