/* Export form
-------------------------------------------------------------------------------*/
.iocexport{
border: 1px dotted #A7D7F9;
padding:3px;
}

div.dokuwiki .iocexport img{
	vertical-align: middle;
}

div.dokuwiki .iocexport span{
	vertical-align: middle;
}

div.dokuwiki .iocexport form input{
	vertical-align: middle;
}

.missing_header{
 color:red;
}

/* Toolbar
-------------------------------------------------------------------------------*/
.ioctoolbar{
width:auto !important;
}


/* Quizes
-------------------------------------------------------------------------------*/
p.ok, p.ko{
 height:0.5em;
}

td.ok{
background: none repeat scroll 0 0 #BFFF80;
}

td.ko{
background: none repeat scroll 0 0 #FF9F81;
}

select.ok{
background: none repeat scroll 0 0 rgba(0, 255, 0, 0.5);
vertical-align:baseline;
}

select.ko{
background: none repeat scroll 0 0 rgba(255, 0, 0, 0.5);
vertical-align:baseline;
}

div.solution{
    background: none repeat scroll 0 0 #F2F6FA;
    border: 2px solid #D9E4F0;
    display: none;
    margin: 1em 0;
    padding: 0.4em 1em;
    width:40%;
}

.quiz_result {
    background: none repeat scroll 0 0 #F2F6FA;
    border: 2px solid #D9E4F0;
    display: none;
    margin: 1em 0;
    padding: 0.4em 1em;
    width:40%;
}


/* html styles
-------------------------------------------------------------------------------*/

.dokuwiki h1, .dokuwiki h2, .dokuwiki h3, .dokuwiki h4, .dokuwiki h5{
	clear:left;
	width:73%;
}
.ioctextl, .iocexample, .iocimportant, .iocfigure, .ioctable{
	width:73% !important;
}

div.level1, div.level2, div.level3, div.level4{
	float:none !important;
}

.level1 p, .level2 p, .level3 p, .level4 p, .level5 p, .level1 ol, .level2 ol, .level3 ol, .level4 ol, .level5 ol, .level1 ul, .level2 ul, .level3 ul, .level4 ul, .level5 ul{
	width:73% !important;
}

.dokuwiki #toc__inside .toc{
	width:auto !important;
}

div.dokuwiki #toc__inside{
	float:right;
	min-width:99%;
}

div.dokuwiki #toc__inside ul{
	float:none;
}

.dokuwiki .secedit {
	float:none !important;
	padding-left:93%;
}

.ioccontent ul, .ioccontent ol{
	float:none;
}

.dokuwiki pre{
	width:73%;
}

.iocfigure{
	width:100% !important;
}

.iocfigure .iocinfo{
	margin:2em auto 0 auto;
}

.iocfigure .iocinfo img{
	margin-bottom:0 !important;
}

.iocfigure p{
	width:100%;
}

.iocfigure img{
	display:block;
	margin:0 auto 2em auto;
}

.imgb{
	position: relative;
    clear: right;
	float:right;
	margin-bottom: 1em;
	width:235px !important;
}
.imgb img{
	max-width:225px;
	float:left !important;
}

.imgb a{
	float:left !important;

}

.imgb .title{
    clear: right;
    float: left !important;
    font-size: 0.85em;
    line-height: 1.2em;
    padding: 0.3em 0 1em;
    text-align: left;
    width: 175px;
}

/* TABLE */
.ioctable{
	margin:5mm 0px;
	width:100%;
}


/* COLUMN B */

.ioctext{
	position: relative;
    clear: right;
	float:right;
	width:175px !important;
	margin-bottom:1em;
	background: url("img/ioctext.png") no-repeat scroll left 0.2em #D6D6D6;
    border-top: 1px solid;
	border-bottom: 3px double;
	padding:1em 0.5em 1em 5em;
	font-size:0.85em;
}


.iocquote{
	position: relative;
    clear: right;
	float:right;
	width:175px !important;
	margin-bottom:1em;
	background: url("img/iocquote.png") no-repeat scroll left 0.2em #D6D6D6;
    border-top: 1px solid;
	border-bottom: 3px double;
	padding:1em 0.5em 1em 5em;
	font-size:0.85em;
}

.iocreference{
	position: relative;
    clear: right;
	float:right;
	width:175px !important;
	margin-bottom:1em;
	background: url("img/iocreference.png") no-repeat scroll left 0.2em #D6D6D6;
    border-top: 1px solid;
	border-bottom: 3px double;
	padding:1em 0.5em 1em 5em;
	font-size:0.85em;
}

.iocnote{
	position: relative;
    clear: right;
	float:right;
	width:175px !important;
	margin-bottom:1em;
	background: url("img/iocnote.png") no-repeat scroll left 0.2em #D6D6D6;
    border-top: 1px solid;
	border-bottom: 3px double;
	padding:1em 0.5em 1em 5em;
	font-size:0.85em;
}

/* COLUMN A */

.ioctextl, .iocexample, .iocimportant{
    overflow: hidden;
}

.ioctextl .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/ioctextl.png") no-repeat scroll left 1mm transparent;
    border-top: 1px solid;
	border-bottom: 1px solid;
	padding:0.5em 0.5em 0.5em 4em;
	margin:1em auto;
}

.iocexample .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/iocexemple.png") no-repeat scroll left 1mm transparent;
    border-top: 1px solid;
	border-bottom: 1px solid;
	padding:0.5em 0.5em 0.5em 4em;
	margin:1em auto;
}

.iocimportant .ioccontent{
	clear:both!important;
	width:80%;
	background: url("img/iocimportant.png") no-repeat scroll left 1mm transparent;
    border-top: 1px solid;
	border-bottom: 1px solid;
	padding:0.5em 0.5em 0.5em 4em;
	margin:1em auto;
}


.ioctext p, .ioctextl p, .iocquote p, .iocexample p, .iocimportant p, .iocreference p, .iocnote p{
	margin-bottom:0px !important;
	width:100% !important;
	float:none;
}

.ioctext pre, .ioctextl pre, .iocquote pre, .iocexemple pre{
	margin-bottom:0px !important;
}

.ioctitle{
	font-weight:bold;
}
